In [1]:
import sys, os
sys.path.append('../')
os.chdir('../')
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('./dataset/news_category/all_records.csv')
df.head()

                                             content  category
0  KOMPAS.com  -   Telkomsel  resmi mengumumkan k...     tekno
1  JAKARTA, KOMPAS.com –  Lembaga Pembiayaan Eksp...  business
2  KOMPAS.com  – Menteri Ketenagakerjaan Ida Fauz...  business
3  KOMPAS.com –    Kegemukan  atau   obesitas  ad...    health
4  KOMPAS.com  - Wali Kota   Tangerang , Arief Wi...     tekno

In [3]:
def text_cleansing(text):
    pat1 = r'@[A-Za-z0-9]+'
    pat2 = r'https?://[A-Za-z0-9./]+'
    pat3 = r'RT '
    combined_pat = r'|'.join((pat1, pat2, pat3))
    clean_text = re.sub(combined_pat, '', text)
    clean_text = re.sub("[^a-zA-Z]", " ", clean_text)
    clean_text = " ".join(clean_text.split())
    result = clean_text.lower()
    return result

In [4]:
df['content'] = df['content'].apply(lambda x: text_cleansing(x))

In [5]:
df.head()

                                             content  category
0  kompas com telkomsel resmi mengumumkan kehadir...     tekno
1  jakarta kompas com lembaga pembiayaan ekspor i...  business
2  kompas com menteri ketenagakerjaan ida fauziya...  business
3  kompas com kegemukan atau obesitas adalah masa...    health
4  kompas com wali kota tangerang arief wismansya...     tekno

In [6]:
df = df.sample(frac=1).reset_index(drop=True)
df.shape

(3000, 2)

In [7]:
train_df = df.sample(frac=0.7)
val_df = df.sample(frac=0.2)
test_df = df.sample(frac=0.1)

In [10]:
train_df.shape , test_df.shape

((2400, 2), (600, 2))

In [8]:
train_df.to_csv('./dataset/news_category/train.csv', index=False)
val_df.to_csv('./dataset/news_category/valid.csv', index=False)
test_df.to_csv('./dataset/news_category/test.csv', index=False)